li{
    list-style: none;
}
.PI{
    font-size: 60px;
    color: orangered;
    font-family: 'Bebas Neue', cursive;
}
.BP22F{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 50px;
}
nav{
    display: flex;
}
.item{
    padding-left: 20px;
    padding-top: 20px;
    bottom: 0;
}
.help{
    margin-left: auto;
    padding-top: 20px;
    bottom: 0;
}